$a_color: rgb(226, 137, 156);
$a_hover: rgb(3, 53, 189);

a {
  color: $a_color;
  &:visited {
    color: $a_color;
  }
  &:hover {
    color: $a_hover;
  }
}

.page-content {
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-block: 1em;
  }

  img + em {
    display: block;
    color: slategray;
    text-align: center;
  }

  hr {
    margin-block: 3em;
    width: 40%;
  }
}
