---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="ã”é€£çµ¡">
  <p>
    ã”é€£çµ¡ã¯daiki@daiki.pinkï¼ˆãƒ¡ãƒ¼ãƒ«ï¼‰ã¾ãŸã¯<a href="https://twitter.com/radish2951">Twitter(ğ•)</a>ã¾ã§ãŠæ°—è»½ã«ã©ã†ãã€‚
  </p>
</BaseLayout>
