---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";
import Comment from "../components/Comment.astro";
import Modal from "../components/Modal.astro";
---

<BaseLayout title="イラスト">
    <p>
        池田が描いたイラストの一部をご紹介します。<br />
        使用ツール：iPad Pro 12.9 インチ, Procreate, Photoshop
    </p>
    <p>
        ⛔️イラストの無断使用はご遠慮ください。ご使用を希望の際はご連絡ください⛔️
    </p>

    <Comment character="hatsune">
        無断転載したらどうなるか、わかってるわよね？
    </Comment>
    <Comment character="aoi">イラストのお仕事、お待ちしています！</Comment>

    <h2>さくらいろテトラプリズム（制作中）</h2>

    <Gallery folder="sakurairo-tetraprism" />

    <h2>さくらいろプリズム</h2>

    <Gallery folder="sakurairo-prism" />

    <h2>その他ファンアートなど</h2>

    <Gallery folder="others" />

    <Comment character="mio">しゅ、しゅごい。</Comment>
    <Comment character="haruka">大変だっただろうね。</Comment>
    <Comment character="aoi">イラストは随時更新予定です！</Comment>
    <script>
        import "../scripts/modal.js";
    </script>
</BaseLayout>

<Modal />
