---
import BaseLayout from "../layouts/BaseLayout.astro";
import Comment from "../components/Comment.astro";
import Button from "../components/Button.astro";
import Img from "../components/Img.astro";
---

<BaseLayout title="池田大輝のウェブサイトへようこそ！">
  <div class="welcome">
    <p>私たちが案内します！</p>
    <div>
      <Img src="/src/images/aoi.png" alt="柏木葵" />
      <Img src="/src/images/mio.png" alt="明石澪" />
      <Img src="/src/images/hatsune.png" alt="須磨初音" />
      <Img src="/src/images/haruka.png" alt="桐咲春花" />
    </div>
  </div>
  <h2>最新作『さくらいろテトラプリズム』鋭意制作中！</h2>
  <Img src="/src/images/tetra_main_visual.jpg" alt="『さくらいろテトラプリズム』キービジュアル" />
  <p>
    恋愛ファンタジーアドベンチャーゲーム『さくらいろテトラプリズム』。2024年公開に向けて一生懸命つくっています！
    ご期待ください！
  </p>

  <Button href="https://blooming-spectrum.com/sakurairo-tetraprism/">『さくらいろテトラプリズム』公式サイト</Button>

  <Comment character="mio">というわけで、私たちが案内していきますね！</Comment>
  <Comment character="aoi">ま、待って、澪ちゃん。知らない人が見たら「いきなり何！？」ってびっくりしちゃうよ。</Comment>
  <Comment character="hatsune">
    私たちは『さくらいろテトラプリズム』っていうゲームのキャラクターよ。二度と説明しないからちゃんと覚えてよね。
  </Comment>

  <Comment character="haruka">手厳しい。</Comment>

  <h2>メンバー紹介</h2>

  <Comment character="mio">メンバー紹介！　いえーい！　というわけで葵さんからどうぞ！</Comment>
  <Comment character="aoi">
    えっ！　えーと、<strong>柏木葵（かしわぎ・あおい）</strong>です！　趣味は料理です！　よろしくお願いします！
  </Comment>
  <Comment character="mio">
    じゃあ次はこの明石が！　<strong>明石澪（あかし・みお）</strong
    >です！　高校1年生です！　趣味は、うーん……いろいろ！　じゃあ次は初音さん！
  </Comment>
  <Comment character="hatsune">
    騒がしいわね。私は<strong>須磨初音（すま・はつね）</strong>。これ以上はプライベートだからノーコメントよ。
  </Comment>
  <Comment character="haruka">
    最後は私か。<strong>桐咲春花（きりさき・はるか）</strong>。アイドルやってるよ。応援してくれたらうれしい。
  </Comment>
  <Comment character="aoi">
    私たちが登場するゲーム『<a href="https://blooming-spectrum.com/sakurairo-prism/">さくらいろプリズム</a>』と『<a
      href="https://blooming-spectrum.com/sakurairo-tetraprism/">さくらいろテトラプリズム</a
    >』をぜひよろしくお願いしますっ！
  </Comment>
  <Comment character="haruka">
    私たちのコメントを消す「ちゃちゃを入れない」ボタンがあったはずなんだけど、いつの間にか消えてる。
  </Comment>
  <Comment character="hatsune">別にちゃちゃを入れてるつもりはないんだけど。</Comment>
  <Comment character="mio">そういうのを「ちゃちゃを入れる」って言うんですよ！</Comment>

  <h2>このサイトについて</h2>

  <Comment character="aoi"><q>池田大輝って誰？</q>という人はまずはプロフィールページをご覧ください！</Comment>
  <Button href="/profile">池田大輝のプロフィール</Button>

  <Comment character="mio">監督さんの作品集はここから見れます！</Comment>

  <Button href="/works">池田大輝の作品集</Button>

  <Comment character="hatsune">イラストも掲載してるのね。</Comment>

  <Button href="/illustrations">池田大輝のイラスト集</Button>

  <Comment character="haruka">お仕事のオファーやメッセージも受け付けてるよ。</Comment>

  <Button href="/contact">池田大輝へのご連絡</Button>

  <h2>Twitter</h2>

  <p>日々の出来事などを気ままに書いています。お気軽にフォローしてください🐣</p>

  <Button href="https://twitter.com/radish2951">池田大輝のTwitter</Button>

  <Comment character="hatsune">Twitter？　𝕏（エックス）でしょ。</Comment>
  <Comment character="haruka">まあ、わかるよ。</Comment>

  <h2>pixivFANBOX</h2>
  <p>
    制作にまつわるあれこれをpixivFANBOXに投稿しています。<br />
    創作に対する考えとか、いろいろ書いています📝
  </p>

  <Comment character="aoi">ブログみたいな感じだね。よかったら読んであげてくださいな。</Comment>

  <Button href="https://radish2951.fanbox.cc/">池田大輝のpixivFANBOX</Button>
</BaseLayout>

<style>
  .welcome {
    p {
      text-align: center;
      font-size: 1.2rem;
    }
    div {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        margin-inline: -20%;
        width: 63%;
        max-height: none;
      }
    }
  }
</style>
