---
const { href } = Astro.props;
---

<p><a href={href}><slot /></a></p>

<style>
  a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: var(--button-color);
    border-radius: 10000px;
    box-sizing: border-box;
    border: 1px solid var(--button-color);
    transition: all 0.1s;

    &:visited {
      color: var(--button-color);
    }
    &:hover {
      background: var(--button-color);
      color: white;
    }
  }

  p {
    text-align: center;
    margin-block: calc(var(--margin-block) * 2);
  }
</style>
