<section class="card">
  <slot />
</section>

<style>
  .card {
    font-size: 0.9rem;

    padding: 16px;
    margin-block-start: var(--margin-block);
    /* background: rgb(247 251 255); */

    p {
      margin-block: 0.5rem;
    }
  }
</style>