<footer>
  <p>© 2024 池田大輝 / Daiki Ikeda</p>
  <p>
    <small
      >本ウェブサイトのコンテンツ（テキスト、画像、動画等）の無断複製、転載を禁じます。使用をご希望の場合は<a
        href="/contact">ご連絡ください。</a
      ></small
    >
  </p>
</footer>

<style>
  footer {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    max-width: var(--max-width);
    padding: 2%;
    margin-block-start: 10rem;
    margin-block-end: 5rem;
  }
</style>
