<header>
  <div id="site-name"><a href="/">池田大輝 / Daiki Ikeda</a></div>
  <nav>
    <button id="hamburger">メニュー</button>
    <ul id="navbar-links" class="hidden">
      <li><a href="/news">お知らせ</a></li>
      <li><a href="/profile">プロフィール</a></li>
      <li><a href="/works">作品集</a></li>
      <li><a href="/illustrations">イラスト</a></li>
      <li><a href="/contact">ご連絡</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1.6rem;
    padding-inline: calc(max((100% - var(--width)) / 2, var(--padding)));
    position: sticky;
    top: 0;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.95);
  }

  a {
    text-decoration: none;

    &:hover {
      color: white;
      background: var(--a-color);
    }
  }

  #site-name {
    a {
      color: var(--color);
      &:hover {
        color: var(--a-color);
        background: none;
      }
    }
  }
  nav {
    text-align: right;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #hamburger {
    display: none; /* デフォルトでは非表示 */
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: var(--a-color);
    z-index: 200000;
    font-size: 1rem;
    position: relative;
  }
  #hamburger.clicked {
    background: var(--a-color);
    color: white;
  }
  /* スクリーンサイズが600px以下の場合 */
  @media (max-width: 600px) {
    ul {
      display: none;
      font-size: 1.2rem;
    }
    ul.hidden {
      display: none;
    }
    ul.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
    }
    nav:has(ul.show) {
      height: 100vh;
    }
    #hamburger {
      display: inline-block; /* ハンバーガーアイコンを表示 */
    }
  }
</style>
