---
import Menu from "../components/Menu.astro";
import "../styles/global.css";

const { title } = Astro.props || Astro.props.frontmatter;
const siteName = "池田大輝オフィシャルウェブサイト";
const pageTitle =
	title && Astro.url.pathname != "/" ? title + " | " + siteName : siteName;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Menu />
		<main>
			{title && <h1>{title}</h1>}
			<slot />
		</main>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
