---
import { ViewTransitions } from "astro:transitions";
import Menu from "../components/Menu.astro";
import "../styles/global.css";

const { title, frontmatter, headings } = Astro.props;
const pageName = title || frontmatter.title;
const siteName = "池田大輝オフィシャルウェブサイト";
const pageTitle =
	pageName && Astro.url.pathname != "/"
		? pageName + " | " + siteName
		: siteName;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Menu />
		<main>
			{pageName && <h1>{pageName}</h1>}
			<slot />
		</main>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
